
/* Page Gallery ------------------ */
  .gallery{
    width: 100%;
    margin: 0;    
    padding: 0;
  }

.g-item{
    box-shadow: 0 0 10px 5px rgba(0,0,0,.7);
    width: 45%;
    margin: 2.5% ;
    float: left;
    max-height: 45%;
    height: 350px;  
    padding-bottom: 0;
    background-size: cover; /*Allow image to display at proper scale*/
}

.g-item img{
  opacity: 0.5;
}

.g-item img{
  max-width: 100%;	
  border-radius: 0;
  margin: 0;

}


/* Pseudo Classes -------------------------------*/

.gallery a:visited{
	color: #ffa949;
}



.g-item img:hover{
  opacity: 1;
}


/* Media Queries -------------------------------*/

@media (max-width: 768px){

.g-item{
	height: 45%;
	float: none;
	width: 80%;
	margin: 2.5% auto;
}

.g-item p{
	padding: 5%;
	margin: 0;
}

.t-border {
  border-top: 2px solid #dfe2e6;
}

}